{% extends "admin/master.html" %}

{% block messages %}
{% endblock %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}
    {% if current_user.is_authenticated and current_user.user_role.value == 1 %}
        <div class="container">
            <h2 class="py-4">Administrator: <span class="text-info">{{ current_user.name }}</span></h2>
        </div>
        <div class="alert alert-dark">Thống kê danh mục sản phẩm</div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>Mã danh mục</th>
                        <th>Tên danh mục</th>
                        <th>Số lượng sản phẩm</th>
                    </tr>
                    {% for s in stats %}
                        <tr>
                            <td>{{ s[0] }}</td>
                            <td>{{ s[1] }}</td>
                            <td>{{ s[2] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-6">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    {% else %}
        {% include "admin/login-admin.html" %}
    {% endif %}

    <script>
        let label = 'Thống kê danh mục sản phẩm'
        let datas = []
        let labels = []
        let colors = []
        let borderColor = []
        let r, g, b
        {% for s in stats %}
            {% if s[2] %}
                labels.push('{{s[1]}}')
                datas.push({{ s[2] }})

                r = Math.random() * 255
                g = Math.random() * 255
                b = Math.random() * 255

                colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
                borderColor.push(`rgba(${r}, ${g}, ${b}, 1)`)
            {% endif %}
        {% endfor %}

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: label,
                    data: datas,
                    backgroundColor: colors,
                    borderColor: borderColor,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}