{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
{% endblock %}

<div class="d-flex justify-content-center bg-warning">
    {% for category in categories %}
        <div class="p-1">
            <a class="nav-link" href="{{ url_for('index', category_id = category.id) }}">
                {% if category.id == 1 %}
                    <!-- san pham la dien thoai -->
                    <i class="mr-sm-1 fas fa-mobile-alt"></i>
                {% elif category.id == 2 %}
                    <!-- san pham la may tinh ban -->
                    <i class="mr-sm-1 fas fa-tablet-alt"></i>
                {% elif category.id == 3 %}
                    <!-- san pham la desktop -->
                    <i class="mr-sm-1 fas fa-desktop"></i>
                {% elif category.id == 4 %}
                    <!-- san pham la dong ho thong minh -->
                    <i class="mr-sm-1 fas fa-clock"></i>
                {% endif %}
                {{ category.name }}</a>
        </div>
    {% endfor %}
</div>
{#<header class="bg-dark py-5">#}
{#    <div class="container px-4 px-lg-5 my-5">#}
{#        <div class="text-center text-white">#}
{#            <h1 class="display-4 fw-bolder">Shop in style</h1>#}
{#            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>#}
{#        </div>#}
{#    </div>#}
{#</header>#}
