{% extends "layout/base.html" %}

{% block title %}
    <title>Thế giới di động</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <h2 class="p-2 text-primary bg-light rounded mt-1"> Danh sách sản phẩm </h2>

    {% if products %}
        {% if request.args.get("keyword") %}
            <h5>Kết quả tìm kiếm "{{ request.args.get("keyword") }}"</h5>
        {% endif %}
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 p-3">
                    <div class="card p-2">
                        {% if product.image %}
                            <a href="{{ url_for('product_detail', product_id=product.id) }}">
                                <img class="card-img-top img-fluid"
                                     src="{{ product.image }}"
                                     alt="{{ product.image }}">
                            </a>
                        {% else %}
                            <a href="{{ url_for('product_detail', product_id=product.id) }}">
                                <img class="card-img-top img-fluid"
                                     src="{{ url_for('static', filename='images/default.png') }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title"> {{ product.name }} </h4>
                            <p class="card-text">{{ "{0:,.0f}".format(product.price) }} VND</p>
                            <div class="d-flex">
                                <a href="{{ url_for('product_detail', product_id=product.id) }}"
                                   class="btn btn-danger ml-3">Xem chi
                                    tiết</a>
                                <a href="javascript:;" class="btn btn-primary ml-auto mr-3"
                                   onclick="addToCart({{ product.id }}, '{{ product.name }}',
                                           '{{ product.description }}', '{{ product.image}}', {{ product.price }})">Thêm vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h4>Sản phẩm không tồn tại!</h4>
    {% endif %}

    <ul class="pagination d-flex justify-content-center">
        {% for i in range(1, number_of_page + 1) %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', page=i) }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
