{% extends "layout/base.html" %}

{% block title %}
    <title>Đăng nhập</title>
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-warning" href="{{ url_for('index') }}">THẾ GIỚI DI ĐỘNG</a>
        <span class="text-light">Đăng nhập</span>
        <a href="#" class="ml-auto text-white">Bạn cần trợ giúp?</a>
    </nav>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="py-4">
        <h2 class="text-center text-danger">Đăng nhập</h2>
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Lỗi!</strong> {{ error }}
            </div>
        {% endif %}
        <form action="{{ url_for('user_login') }}" class="was-validated" method="post">
            <div class="form-group">
                <label for="uname">Tên người dùng</label>
                <input type="text" class="form-control" id="uname" placeholder="Nhập tên người dùng" name="uname"
                       required>
                <div class="valid-feedback">Hợp lệ.</div>
                <div class="invalid-feedback">Tên người dùng không được để trống.</div>
            </div>
            <div class="form-group">
                <label for="pwd">Mật khẩu</label>
                <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="pswd" required>
                <div class="valid-feedback">Hợp lệ.</div>
                <div class="invalid-feedback">Mật khẩu không được để trống.</div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger px-4">Đăng nhập</button>
            </div>
        </form>
    </div>
{% endblock %}
