{% extends "/layout/base.html" %}

{% block title %}
    <title>Giỏ hàng</title>
{% endblock %}

{% block content %}
    <h2 class="text-center p-3 text-danger">Giỏ hàng</h2>
    <div class="mx-5 my-3">
        {% if session.get('cart') and session.get('cart') %}
            {% for product in session['cart'].values() %}
                <div class="row p-2 my-3 bg-light rounded">
                    <div class="col-sm-2">
                        <img class="img-fluid"
                             src="{{ product.image }}"
                             alt="no image"/>
                    </div>
                    <div class="col-sm-8 pl-5 d-flex flex-column">
                        <h4 class="p-1">{{ product.name }}</h4>
                        <div class="p-1">{{ product.description }}</div>
                        <h5 class="text-danger p-1"> {{ ("{0:,.0f}").format(product.price) }} VND </h5>
                        <input class="w-25" min="0" max="1000" value="{{ product.quantity }}" type="number">
                    </div>
                    <div class="col-sm-2 p-0 d-flex flex-column mt-auto ml-auto">
                        <div class="pr-2 text-right text-dark">
                            x{{ product.quantity }}
                        </div>
                        <div class="p-2 text-right text-dark">{{ '{0:,.0f}'.format(product.quantity *  product.price) }}
                            VND
                        </div>
                        <a class="p-2 text-right text-danger" href="#">Xóa khỏi giỏ hàng</a>
                    </div>
                </div>
            {% endfor %}
            <div class="alert alert-danger text-right">
                <h6>x {{ total_quantity }}</h6>
                <h5>{{ '{0:,.0f}'.format(total_price) }} VND</h5>
            </div>
            <div class="d-flex">
                {% if current_user.is_authenticated %}
                    <input type="button" class="btn btn-danger w-25 ml-auto" value="Thanh toán" onclick="pay()">
                {% else %}
                    <a href="{{ url_for('user_login', next='cart') }}" type="button" class="btn btn-danger w-25 ml-auto">Thanh toán</a>
                {% endif %}
            </div>
        {% else %}
            <h2>Không có sản phẩm nào trong giỏ hàng!!!</h2>
        {% endif %}

    </div>
{% endblock %}