{% extends "layout/base.html" %}

{% block title %}
    <title>Đăng kí</title>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/register.js') }}" async></script>
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-warning" href="{{ url_for('index') }}">THẾ GIỚI DI ĐỘNG</a>
        <span class="text-light">Đăng kí</span>
        <a href="#" class="ml-auto text-white">Bạn cần trợ giúp?</a>
    </nav>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="py-4">
        <h2 class="text-danger text-center">Đăng ký</h2>
        {% if error %}
            <div class="alert alert-danger">
                <strong>Lỗi!</strong> <span>{{ error }}.</span>
            </div>
        {% endif %}
        <form action="{{ url_for('register') }}" method="post" class="was-validated" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fname">Họ và tên</label>
                <input type="text" class="form-control" id="fname" placeholder="Nhập họ và tên" name="fname" required>
                <div class="valid-feedback">Hợp lệ.</div>
                <div class="invalid-feedback">Họ và tên không được để trống.</div>
            </div>
            <div class="form-group">
                <label for="uname">Tên người dùng</label>
                <input type="text" class="form-control" id="uname" placeholder="Nhập tên người dùng" name="uname"
                       required>
                <div class="valid-feedback">Hợp lệ.</div>
                <div class="invalid-feedback">Tên người dùng không được để trống.</div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="@example" name="email" required>
                <div class="valid-feedback">Hợp lệ.</div>
                <div class="invalid-feedback">Email phải đúng định dạng và không được để trống.</div>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" name="password"
                       required>
                <div class="valid-feedback">Hợp lệ.</div>
                <div class="invalid-feedback">Mật khẩu không được để trống.</div>
            </div>
            <div class="form-group">
                <label for="confirm">Xác nhận mật khẩu</label>
                <input type="password" class="form-control" id="confirm" placeholder="Nhập lại mật khẩu" name="confirm"
                       required>
                <div class="valid-feedback">Hợp lệ.</div>
                <div class="invalid-feedback">Mật khẩu xác nhận không được để trống.</div>
            </div>
            <div class="form-group">
                <label>Chọn ảnh đại diện</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="avatar">
                    <label class="custom-file-label" for="customFile">Chọn ảnh</label>
                </div>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger px-4">Đăng Ký</button>
            </div>
        </form>
    </div>
{% endblock %}
